/* ===============  Media Queries  =============== */


@media screen and (min-width: 1200px) {
	.container {
		width: 1350px;
		max-width: 100%;
	}
}

@media screen and (max-width: 1440px) {
	.service-content {
		width: 40%;
	}
}

@media screen and (max-width: 1200px) {
	.menu__link {
		padding: 0 20px;
	}
}


@media screen and (max-width: 1199px) {
	.menu__link {
		padding: 0 15px;
	}
	.service-content {
		width: 40%;
	}
	
	.category__list {
		display: none !important;
	}
	
	.category-btn {
		display: flex;
	}

	.category__nav {
		line-height: 30px;
		display: flex;
		align-items: center;
		height: 56px;
		justify-content: flex-end;
	}
}


@media screen and (max-width: 1140px) {
	.header {
		padding: 35px 0;
	}

	.nav {
		display: none !important;
	}
	.nav__action-bars {
		display: none;
	}

	.nav__action-mb {
		display: block;
		height: 100%;
		width: 50px	;
		background: unset;
	}

	.nav__action-mb i {
		color: #015f9e;
		font-size: 25px;
	}

	.nav__lang-mb {
		display: flex !important;
		align-items: center;
	}

	.search-btn {
		margin-right: 10px;
	}

	.search-btn i {
		font-size: 25px;
	}

	.nav__action-mb {
		margin-left: 20px;
	}

	.menumobile {
		display: block;
	}
}


@media screen and (max-width: 991px) {

	.service-content {
		width: 35%;
	}
	.service-content h2 {
		font-size: 25px;
		line-height: 40px;
	}
	.header__search-inner {
		top: 66px;
	}
	.service-content a {
		font-size: 20px;
		padding: 10px 15px;
	}
	.ads__content p {
		font-size: 19px;
	}
	.ads__btn {
		padding: 10px 15px;
	}
	.footer__content {
		margin-bottom: 20px;
	}
	.footer__info {
		text-align: left !important;
	}

	
}

@media screen and (max-width: 767px) {
	.nav__action-search .search-btn {
		background: unset;
		width: 50px;
	}
	.nav {
		justify-content: center;
	}
	.header__search-inner {
		top: 60px;
	}
	.form-gr input {
		height: 50px;
	}
	.header__keyword {
		flex-direction: column;
	}
	.header__keyword ul {
		flex-wrap: wrap;
		margin-top: 20px;
		justify-content: center;
	}
	.header__keyword ul li {
		margin-bottom: 10px;
	}

	.service-content h2 {
		line-height: 35px;
		font-size: 25px;
	}

	.service-content a {
		font-size: 16px;
	}

	.gallery  {
		flex-wrap: wrap;
	}

	.gallery__img {
		width: 100%;
	}

	.nav__action-mb {
		margin-left: 10px;
	}

}


@media screen and (max-width: 575px) {
	.service-img img {
		height: 250px;
		object-fit: cover;
	}
	.service-content {
		width: 50%;
	}
	.service-content a {
		font-size: 13px;
	}

	.service-content h2 {
		line-height: 20px;
    	font-size: 16px;
	}
}

@media screen and (max-width: 480px) {
	.ads__content {
		top: 40%;
		width: 78%;
	}
	.ads__content p {
		font-size: 14px;
	}
	.ads__btn {
		font-size: 14px;
	}
	.ads__content p {
		line-height: 30px;
	}
	
}

@media screen and (max-width: 340px) {
	.social p  {
		margin-bottom: 20px;
	}
}



