/* ===============  Setting  =============== */
:root {
  --main-color: #86c177;
  --white-color: #fff;
  --text-color: #333333;
  --secondary-color: #2b3038;
  --roboto-font: Roboto-Regular;
  --sfu-b:  SFUBold;
  --sfu-book: SFUBook;
  --roboto-bold: Roboto-Bold;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--roboto-font);
  font-size: 14px;
  line-height: 1;
}

input,
button,
select,
textarea {
  outline: none;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}

input {
  line-height: normal;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
  display: block;
}

.pd-10 {
  padding: 10px;
}


@font-face {
  font-family: SFUBold;
  src: url(../fonts/SFUFUTURABOLD.TTF);
}

@font-face {
  font-family: SFUBook;
  src: url(../fonts/SFUFUTURABOOK.TTF);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}


@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}


.back-top {
  position: fixed;
  right: 20px;
  bottom: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  background: #82bb4e;
  color: var(--white-color);
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  z-index: 99;
}

.back-top:hover {
	text-decoration: none;
	color: var(--white-color);
}
  
.back-top.active {
	opacity: 1;
	visibility: visible;
}

.page-heading h2 {
  text-transform: uppercase;
  font-size: 36px;
}

.header {
  padding: 23px 0;
  position: relative;
}

.menu__link {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 25px;
  line-height: 24px;
}

.nav__language li ~ li {
  margin-left: 10px;
}

.nav__action {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.nav__action-search .search-btn,
.nav__action-bars i{
  height: 100%;
  width: 65px;
  font-size: 20px;
}

.nav__action-search .search-btn {
  background-color: #ececec;
  color: #015f9e;
}

.nav__action-search .btn-close i::before {
  content: '\f00d';
  color: #015f9e;
  opacity: .5;
}

.nav__lang-mb {
  display: none !important;
}

.nav__language li a img {
  transition: all .25s ease-in-out;
}

.nav__language li a img:hover  {
  transform: scale(1.2);
}

.nav__action-bars i {
  display: inline-block;
  background: var(--secondary-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mega-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  background-color: #f2f7f0;
  padding: 25px 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1, 1);
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(1, 0);
  animation-fill-mode: forwards;
  transform-origin: top;
  border-top: 2px solid var(--main-color);
  z-index: 97;
}

.has-mega-menu:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out .1s;
  transform: scale(1, 1);
}

.mega-menu::before {
  content: "";
  position: absolute;
  top: -27px;
  left: 0;
  right: 0;
  height: 27px;
  background: transparent
}

.mega-menu__list {
  margin: 0 -15px;
}

.list-item {
  width: 25%;
  padding: 0 15px;
}

.list-item:first-child {
  border-right: 1px solid #edeff4;
}

.mega-menu__item h2 {
  font-size: 17px;
  font-weight: 700;
}

.mega-menu__item p {
  font-size: 13px;
  line-height: 18px;
  margin: 10px 0;
}

.mega-menu__item img {
  max-height: 200px;
  object-fit: cover;
}

.mega-menu__item li a {
  text-transform: uppercase;
  display: block;
  color: var(--text-color);
  font-weight: 400;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 25px;
  transition: all .25s ease-in-out;
}

.mega-menu__item li a:hover {
  color: var(--main-color);
}

.mega-menu__item li a::before {
  content: "";
  position: absolute;
  width: 78px;
  left: 0;
  height: 2px;
  background-color: var(--main-color);
  bottom: 0;
}

.header__search-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  background: #2b3038;
  height: 0;
  overflow: hidden;
  transition: height .5s ease;
  z-index: 99;
}

.header__search-inner h2 {
  margin: 15px 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--white-color);
  font-size: 20px;
  letter-spacing: 10px;
  position: relative;
  padding-top: 50px ;
}

.header__search-inner h2::before {
  content: "";
  position: absolute;
  height: 50px;
  width: .5px;
  background: var(--white-color);
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
}

.header__form {
  margin: 20px 0;
}

.form-gr input {
  width: calc(100% - 77px);
  outline: none;
  border: none;
  height: 76px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-left: 20px;
  
}

.form-gr input::placeholder {
  color: rgb(133, 133, 133);
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;

}

.form-gr button {
  width: 77px;
  background: var(--white-color);
}

.form-gr button i {
  font-size: 25px;
}

.header__keyword  h3 {
    margin-right: 35px;
    padding-left: 25px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    background: url(../images/search-icon.png) no-repeat 0 50%;
}

.header__keyword {
  padding-bottom: 50px;
}

.header__keyword ul li ~ li {
  margin-left: 5px;
}

.header__keyword ul li a {
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  opacity: .7;
  border: 1px solid #fff;
  border-radius: 25px;
  text-decoration: none;
}

.main-modal {
  background: #f5f6fa;  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(0,0,0,.2);
  border: 1px solid #000;
  opacity: 0;
  visibility: hidden;
  transition: all .25s linear;
  transform: translateY(-100px);
  z-index: 98;
}

.main-modal.active {
  opacity: 1;
  visibility: visible;
}

.main-modal__header {
  border-bottom: 2px solid #000;
  padding: 15px;
  padding-top: 0;
  margin-bottom: 20px;
}

.main-modal__header button  {
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to right, #20409a, #009a4f);
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 60px;
    opacity: 1;
    color: #fff;
}

.main-modal__header h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin: 10px 0;
}

.main-modal__header img {
  display: block;
  margin: 0 auto;
}

.main-modal__header hr {
  width: 1px;
  height: 50px;
  margin: 0 auto 14px;
  border: 0;
  background: -webkit-linear-gradient(to bottom, #134faa, #00857d);
  background: -o-linear-gradient(to bottom, #134faa, #00857d);
  background: -moz-linear-gradient(to bottom, #134faa, #00857d);
  background: linear-gradient(to bottom, #134faa, #00857d);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#134faa', endColorstr='#00857d',GradientType=1 );
}

.modal-body__item {
  margin-bottom: 20px;
}

.modal-body__item ul li h2 {
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--white-color);
  font-size: 20px;
  position: relative;
  color: var(--text-color);
  padding-bottom: 10px;
  text-transform: uppercase;
}

.modal-body__item ul li h2::before {
  content: "";
  position: absolute;
  width: 30px;
  left: 0;
  height: 2px;
  background: linear-gradient(to right, var(--main-color), #87b959 );
  bottom: 0;
}

.modal-body__item ul li a {
  display: block;
  font-size: 15px;
  color: #68686e;
  background: url(../images/sitemap_list_off.png) no-repeat 100% 10px;
  line-height: 35px;
}

.modal-body__item ul li img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.nav__action-mb {
  display: none;
  font-size: 20px;
}

.service {
  position: relative;
}

.service-img img {
  width: 100%;
}

.service-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 23%;
}

.service-content h2 {
  font-size: 40px ;
  font-family: var(--sfu-b);
  color: var(--white-color);
  line-height: 48px;
  margin-bottom: 30px;
}

.service-content a {
  display: inline-block;
  padding: 10px 20px 12px 20px;
  font-family: var(--sfu-book);
  font-size: 24px;
  background-color: #4f903f;
  color: var(--white-color);
  transition: all .3s ease-in-out;
}

.service-content .text-color {
  color: var(--text-color);
}
.service-content .text-normal {
  text-transform: unset;
  font-family: var(--sfu-book);
}

.service-content .bg-light-grey {
  background: #a8a7a7;
}

.service-content .bg-dark-blue {
  background: #2b3038;
}

.service-content a:hover {
  transform: translateX(20px);
}

.category {
  margin-top: 50px;
}

.category__title {
  font-size: 24px;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 15px;
}

.category__heading p {
  color: var(--secondary-color);
}

.category__wrap {
  background: var(--secondary-color);
  height: 56px;
  line-height: 56px;
  margin-top: 20px;
}

.category__slide-wrap {
  padding-top: 25px;
}

.category__list {
  height: 56px;
  line-height: 56px;
  display: flex;
}

.category__list.active {
  display: none;
}

.category__list li a {
  display: inline-block;
  color: var(--white-color);
  text-transform: uppercase;
  line-height: 36px;
  padding: 0 10px;
}

.category__list li.active {
  background-color: #5e6268;
}

.box-product  img {
  height: 315px;
  object-fit: cover;
}
.box-product {
  position: relative;
}
.box-product  img {
  height: 315px;
  object-fit: cover;
}

.box-product  > a img {
  transition: all .3s ease-in-out;
  border: 2px solid transparent;
}

.box-product  > a:hover img{
  display: block;
  box-shadow: 0 10px 20px 0 rgb(153 159 183 / 50%);
  border-color: #337ab7;
}

.category-hover-icon {
  position: absolute;
  top: 0;
  z-index: 99;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}

.box-product:hover .category-hover-icon {
  opacity: 1;
  visibility: visible;
}

.category-hover-icon  img {
  width: 68px !important;
  height: 69px;
}

.box-product h3 {
  font-size: 16px;
  color: var(--text-color);
  margin-top: 10px;
}

.category-btn{
  background: unset;
  display: none;
}

.category-btn i {
  color: var(--white-color);
  font-size: 25px;
}

.ads {
  position: relative;
  background: url(/assets/images/zxcxc.png) no-repeat center/cover;
  height: 260px;
  margin-top: 60px;
  width: 100%;
  background-position: center;
  background-color: #e5e5e5;
  
}

.ads__img img {
  width: 100%;
}

.ads__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ads__content p {
  font-size: 24px;
  font-family: var(--sfu-book);
  color: #183f58;
  line-height: 48px;
}

.ads__btn {
  display: inline-block;
  padding: 12px 20px;
  background: #183f58;
  color: var(--white-color);
  font-size: 18px;
  border: none;
  transition: transform .25s ease-in-out;
  margin-top: 15px;
}

.ads__btn:hover {
  transform: translateX(20px);
  color: var(--white-color);
}

.gallery__img {
  width: 33.33%;
  overflow: hidden;
}

.gallery__img img {
  height: 320px;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.35s, transform 0.35s;
  max-width: none;
  cursor: pointer;

}

.gallery__img:hover img {
  opacity: .5;
  transform: scale(1.1);
}

.social p {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white-color);
  margin-right: 10px;
}

.social {
  background-color: #183f58 ;
  padding: 10px 0;
}

.social__list li {
  margin: 0 7.5px;
}

.social__list li a {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #788791;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a2b1ba;
  font-size: 20px;
}

.footer {
  background-color: var(--secondary-color);
  padding: 45px 0;
}

.footer__content {
  color: var(--white-color);
}

.footer__content h2 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
}

.footer__content .footer__intro {
  font-style: italic;
  text-transform: uppercase;
  line-height: 24px;
}

.footer__content p {
  line-height: 36px;
}

.footer__info p {
  color: var(--white-color);
  text-transform: uppercase;
  line-height: 36px;
}

.footer__info button {
  padding: 10px 30px;
  background-color: #282d35;
  color: var(--white-color);
  position: relative;
  padding-right: 40px;
}

.footer__info button ul {
  position: absolute;
  background-color: #282d35;
  width: 100%;
  top: -144px;
  left: 0;
  display: none;
 
}

.footer__info button ul li a {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--white-color);
}
.footer__info button span {
  font-size: 10px;
}

.footer__info button i {
  position: absolute;
  right: 10px;
  font-size: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.footer__info a {
  font-size: 24px;
  color: #0668a8;
  line-height: 36px;
}

.footer__info ul li {
  color: #676767;
  line-height: 30px;
}

.footer__link-list.active {
  display: block;
}

.menumobile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 99;
  display: none;
}

.menumobile-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}

.menumobile.active .menumobile-list {
  transform: translateX(0%);
}

.menumobile-list {
  position: absolute;
  background-color: #27648d;
  width: 280px;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.35s ease;
}

.menumobile-list li.menumobile-item a.menumobile-link {
  display: block;
  padding: 10px 15px;
  line-height: 24px;  
  color: var(--white-color);
  position: relative;
}

.menumobile-list li.menumobile-item {
  border-top: 1px solid #3a77a0;
  position: relative;
}

.menumobile-list li i {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  color: var(--text-color);
}

.menumobile-list li.menumobile-item:last-child {
  border-bottom: 1px solid #3a77a0;
}

.menumobile-item a i {
  color: var(--white-color);
}
.menumobile.active {
  opacity: 1;
  visibility: visible;
}

.submenu-mb {
  display: none;
}

.submenu-mb li a {
  display: block;
  color: var(--white-color);
  padding: 10px 15px 10px 30px;
  line-height: 22px;
  position: relative;
}


.list-icon {
  position: fixed;
  left: 10px;
  bottom: 100px;
  z-index: 100;
}

.list-icon ul li {
  margin-bottom: 10px;
  border-radius: 50%;
  border: 1px solid #fbfbfb;
  position: relative;
  width: 45px;
  height: 45px;
}

.list-icon ul li:hover span {
  display: grid;
}

.list-icon ul li span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  display: grid;
  place-items: center;
  padding-right: 20px;
  border-radius: 30px;
  right: -124px;
  padding-left: 68px;
  z-index: -1;
  color: var(--white-color);
  display: none;

}

.icon-phone {
  background: #57d247;
}

.icon-talk {
  background: #f1d900;
}


.list-icon ul li .icon-email {
  right: -156px;
  background: #0fa8e2;
}

.banner {
  position: relative;
}

.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.banner__content {
  color: var(--white-color);
  font-family: var(--sfu-book);
}

.banner__content h2 {
  font-size: 30px;
  line-height: 50px;
}

.banner__content p {
  font-size: 20px;
}

.banner__img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.menu__banner {
  width: 70%;
  position: absolute;
  background: var(--white-color);
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 0;
  top: 185px;
}

.menu__banner li a {
  padding: 0 15px;
  display: inline-block;
  border-right: 1px solid #dee2e5;
  font-size: 16px;
}

.menu__banner li:last-child a {
  border-right: none;
}

.menu__banner li:first-child i {
  color: var(--main-color);
}

.product-detail {
  margin-top: 60px;
}

.product-detail__thumb {
  width: 20%;
}

.product-detail__thumb li {
  margin-bottom: 20px;
  cursor: pointer;
}

.product-detail__thumb li img {
  width: 110px;
  height: 120px;
  border: 1px solid #dee2e5;
  padding: 10px;
  object-fit: cover;
}

.product-detail__thumb li img.active {
  border-color: #20409a;
}

.product-detail__thumb li:hover img {
  border-color: var(--text-color);
}

.big-img {
  width: 80%;
}

.big-img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.product-detail__title {
  font-size: 43px;
  line-height: 1.1;
  color: #333;
  margin-bottom: 10px;
}

.product-detail__name {
  display: block;
  font-size: 32px;
  color: #005aab;
  line-height: 35px;
  margin-bottom: 10px;
}

.product-detail__choose {
  margin-top: 25px;
}

.product-detail__choose li {
  padding: 20px 0px;
  border-top: 1px solid #f2f2f5;
}

.product-detail__choose li p {
  width: 30%;
}

.pro-price {
  font-size: 24px;
  font-weight: bold;
  color: #005aab;
}

.product-detail__choose li  span {
  font-weight: 700;
}

.price-label {
  padding: 20px 0;
  border-top: 1px solid #ccc;
  font-size: 16px;
  padding-left: 20px;
}
.shopping-action {
  margin-top: 20px;
  margin-left: -10px;
  flex-wrap: wrap;
}
.shopping-action li {
  margin-left: 10px;
  width: calc(33.33% - 10px);
}

.table-price  table {
  margin-bottom: 20px;
}

.table-price span {
  font-style: italic;
}

.shopping-action {
  margin-bottom: 20px;
}

.shopping-action li a {
  display: inline-block;
  margin-right: 10px;
  padding: 15px 0px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  border-radius: 0px;
  border: none;
  background-image: linear-gradient(to right, #015f9e, #015f9e);
  width: 100%;
  text-align: center;
}

.shopping-brand {
  margin-left: -10px;
}

.shopping-brand li {
  width: calc(20% - 10px);
  margin-left: 10px;
}

.shopping-brand li a:hover img {
  transform: scale(1.1);
}

.shopping-brand li  a img {
  width: 100%;
  transition: all .3s ease-in-out;
}

.product-detail-desc {
  margin-top: 40px;
}

.tab-product li {
  width: 33.33%;
  text-align: center;
  border: 1px solid #f2f2f5;
}

.tab-product {
  margin-bottom: 20px;
}

.tab-product li a {
  display: inline-block;
  padding: 20px 0;
  background: #f5f6fa;
  width: 100%;
  color: var(--text-color);
  text-transform: uppercase;
}

.tab-product li a.active {
  background: #005aab;
  color: var(--white-color);
}


.radio {
  margin: 0.5rem;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 20px;
  height:20px;
  position: relative;
  top: -0.2em;
  margin-right: 10px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3197ee;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197ee;
}

.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.product-rela {
  margin: 40px 0;
}

.product-rela {
  font-size: 32px;
  color: #313035;
}

.category-page {
  margin-top: 0;
}

.hr-title {
  width: 1px;
  height: 50px;
  margin: 0 auto 14px;
  border: 0;
  background: linear-gradient(to bottom, #16b4b7, #036ea7);
}

.category-page .page-heading {
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 30px 0;
}

.category-page .tab-product {
  flex-wrap: wrap;
}

.category-page .tab-product li a {
  background: var(--white-color);
  font-size: 17px;
}

.category-page .tab-product li {
  width: 14.28%;
}

.category-page .tab-product li a.active {
  background: #005aab;
}




